@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exile&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/ExResolvido01/pacote-projeto/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063dle
*/

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#053d1d;
    --cor7:#032b14;

    --font-padrao: Arial, Verdana, Helvetica,sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', 'cursive';
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    padding: 40px 0px 0px 0px;
    min-height: 150px;
    text-align: center;
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    padding: 0px 10px 2px 10px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: -2px 2px 1px black;
}

header > h1 {
    color:white ;
    font-family: var(--font-destaque);
    font-size: 3em;
    padding: 0px 0px 20px 0px;
    text-shadow: -3px 3px 2px black;
}

nav{
    background-color: var(--cor7);
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.671);
}

nav > a{
    border-radius: 5px;
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: .2s ;
}

nav > a:hover{
    background-color: var(--cor1);
    color: #032b14;
}
main{
    min-width: 320px ;
    max-width: 816px ;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);

}

main img{
    width: 100%;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    padding: 0px 0px 3px 0px;

}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
     padding: 3px 0px;
}

main p{
    margin: 13px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px 6px 8px -2px #000000c2;
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside > ul{
    list-style-type: '\2705\00A0' ;
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0,8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}